<html lang="ar">
<head>
    <meta charset="UTF-8"/>
    <title>ترخيص مسبق للقيام بعمل إضافي أيام عادية</title>
</head>


<body>
{% block body %}
<div class="container" style="text-align: right;">
    <div class="row">
        <div class="col-md-6 text-end"><img src="/assets/img/Logo_tt.jpg" style="width: 150px; margin-bottom: 20px; margin-top: 20px"></div>
        <div style="text-align: left" >
            <p><strong><span>
                            {% if("now"|date("m") == 1 ) %}
                                {{ 'جانفي' }}
                                {% set month = 'جانفي'  %}
                            {% endif %}

                            {% if("now"|date("m") == 2 ) %}
                                {{ 'فيفري' }}
                                {% set month = 'فيفري'  %}
                            {% endif %}

                            {% if("now"|date("m") == 3 ) %}
                                {{ 'مارس' }}
                                {% set month = 'مارس'  %}
                            {% endif %}

                            {% if("now"|date("m") == 4 ) %}
                                {{ 'أفريل' }}
                                {% set month = 'أفريل'  %}
                            {% endif %}

                            {% if("now"|date("m") == 5 ) %}
                                {{ 'ماي' }}
                                {% set month = 'ماي'  %}
                            {% endif %}

                            {% if("now"|date("m") == 6 ) %}
                                {{ 'جوان' }}
                                {% set month = 'جوان'  %}
                            {% endif %}

                            {% if("now"|date("m") == 7 ) %}
                                {{ 'جويلية' }}
                                {% set month = 'جويلية'  %}
                            {% endif %}

                            {% if("now"|date("m") == 8 ) %}
                                {{ 'أوت' }}
                                {% set month = 'أوت'  %}
                            {% endif %}

                            {% if("now"|date("m") == 9 ) %}
                                {{ 'سبتمبر' }}
                                {% set month = 'سبتمبر'  %}
                            {% endif %}

                            {% if("now"|date("m") == 10 ) %}
                                {{ 'أكتوبر' }}
                                {% set month = 'أكتوبر'  %}
                            {% endif %}

                            {% if("now"|date("m") == 11 ) %}
                                {{ 'نوفمبر' }}
                                {% set month = 'نوفمبر'  %}
                            {% endif %}

                            {% if("now"|date("m") == 12 ) %}
                                {{ 'ديسمبر' }}
                                {% set month = 'ديسمبر'  %}

                            {% endif %}
                            <span>{{ "now"|date("Y") }}</span>

                        </span></strong></p>
        </div>
    </div>
</div>
<div class="container" style="text-align: right;">
                <p>الشركة الوطنية للاتصالات</p>
                <p style="" >الإدارة الجهوية للاتصالات بجندوبة</p>
                <p style="">الهيكل: وحدة التصرف في الخدمات</p>
                <br>

</div>
<div class="container" style="text-align:center">
    <div class="row">
        <div style="text-align:center">
            <h4>ترخيص مسبق للقيام بعمل إضافي أيام عادية</h4>

        </div>
    </div>
</div>
<div class="container fw-light" style="margin-top: 40px;">
    <div class="row">
        <div>
            <div style="display: flex; align-items: end; justify-content: right;">

                <div style="width: 200px;text-align: right;margin-left: 200px;">
                    <table style="border: 1px solid black;border-collapse: collapse;">
                        <tbody>
                        <tr>
                            {% for i in matricule %}
                                <td style="border-right: 1px solid black; padding: 2px 2px 2px 2px;">
                                    {{ i }}
                                </td>
                            {% endfor %}
                            <td style="background: grey;padding: 3px 3px 3px 3px;"><strong><span>:رقم التســــــجيل</span></strong><br /></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>
<div class="container" style="text-align:right">
        <div>
            <p><br>

                <span style="color: rgb(0, 0, 0); background-color: transparent;"> العون المكلف بالعمل الإضافي : </span>
                <strong><span style=""> {{ employee.prenom ~' '~ employee.nom}}</span></strong>
                </p>


        </div>

    <p style="text-align:right ;margin-right: 1px">  وبعد أنتم مطالبون للقيام بعمل إضافي وذلك : ل{{employee.travauxFaits}}</p>
    <p><span> </span></p>
    <p>
        <span style="text-align: right">بالعنوان التالي: {{employee.adresseTravaux}} </span>
        <br>
    </p>
    <p>وذلك أيام شهر: <u>{{ month ~' '~ "now"|date("Y") }}</u> </p>

</div>
    <div style="width: 50px; height: 170px">

    </div>
<div class="container">

    <div class="row">
        <div class="col-md-6" style="text-align: left">
            <p class="text-center"><strong><span style="color: rgb(0, 0, 0); background-color: transparent;">امضاء المشرف على الهيكل</span>
                </strong>
                <br></p>
        </div>
        <div ></div>
    </div>
</div>

{% endblock %}
</body>
</html>
