<html lang="ar">
<head>
    <meta charset="UTF-8"/>
    <title>ترخيص مسبق للقيام بعمل إضافي أيام الآحاد والعطل الرسمية</title>
<style type="text/css">
    body {
        font-family: DejaVu Sans, serif; }
</style>
</head>


<body>
{% block body %}
<div class="container" style="text-align: right;">
    <div class="row">
        <img src="/assets/img/Logo_tt.jpg" style=" width: 100px;" alt="">
        <div style="text-align: left" >
            <p><strong><span>
                            {% if("now"|date("m") == 1 ) %}
                                {{ 'جانفي' }}
                            {% endif %}

                            {% if("now"|date("m") == 2 ) %}
                                {{ 'فيفري' }}
                            {% endif %}

                            {% if("now"|date("m") == 3 ) %}
                                {{ 'مارس' }}
                            {% endif %}

                            {% if("now"|date("m") == 4 ) %}
                                {{ 'أفريل' }}
                            {% endif %}

                            {% if("now"|date("m") == 5 ) %}
                                {{ 'ماي' }}
                            {% endif %}

                            {% if("now"|date("m") == 6 ) %}
                                {{ 'جوان' }}
                            {% endif %}

                            {% if("now"|date("m") == 7 ) %}
                                {{ 'جويلية' }}
                            {% endif %}

                            {% if("now"|date("m") == 8 ) %}
                                {{ 'أوت' }}
                            {% endif %}

                            {% if("now"|date("m") == 9 ) %}
                                {{ 'سبتمبر' }}
                            {% endif %}

                            {% if("now"|date("m") == 10 ) %}
                                {{ 'أكتوبر' }}
                            {% endif %}

                            {% if("now"|date("m") == 11 ) %}
                                {{ 'نوفمبر' }}
                            {% endif %}

                            {% if("now"|date("m") == 12 ) %}
                                {{ 'ديسمبر' }}
                            {% endif %}
                            {{ "now"|date("Y")}}

                        </span></strong></p>
        </div>
    </div>
</div>
<div class="container" style="text-align: right;">
                <p>الشركة الوطنية للاتصالات</p>
                <p style="" >الإدارة الجهوية للاتصالات بجندوبة</p>
                <p style="margin-right: 20px">الهيكل: وحدة التصرف في الخدمات</p>
                <br>

</div>
<div class="container" style="text-align:center">
    <div class="row">
        <div style="text-align:right">
            <h4>ترخيص مسبق للقيام بعمل إضافي أيام الآحاد والعطل الرسمية</h4>
        </div>
    </div>
</div>
<div class="container fw-light" style="margin-top: 40px;">
    <div class="row">
        <div>
            <div style="width: 200px; margin-left: 100px;">
                <table style=" border: 1px solid black" >
                    <tbody>
{#                    {% for i in employee.matricule %}#}
                    <tr>
                        <td style="border-right: 1px solid black">
                            {{ employee.matricule }}
                        </td>
{#                        {% endfor %}#}
                        <td style="background-color: grey; text-align: center;">رقم التســــــجيل:</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>
<div class="container" style="text-align:right">
        <div>
            <p><br>
                <strong><span style=""> {{ employee.prenom ~' '~ employee.nom}}</span></strong>
                <span style="color: rgb(0, 0, 0); background-color: transparent;">العون المكلف بالعمل الإضافي:</span>
                </p>
            <p> الخطة: <span style="text-align: right; ">{{ employee.plan }}</span></p>

        </div>
    <p style="text-align:right ;margin-right: 57px"> وبعد أنتم مطالبون للقيام بعمل إضافي وذلك أيام:
   <span>ل{{employee.travauxFaits}}</span></p>
    <p>
        <span style="text-align: right">بالعنوان التالي: {{employee.adresseTravaux}} </span>
        <br>
    </p>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-6" style="text-align: left">
            <p class="text-center"><strong><span style="color: rgb(0, 0, 0); background-color: transparent;">امضاء المشرف على الهيكل</span>
                </strong>
                <br></p>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>

{% endblock %}
</body>
</html>
