<html lang="ar">
<head>
    <title>pdf</title>
<style type="text/css">
    body { font-family: DejaVu Sans, sans-serif; }
</style>
</head>
<body>
{% block body %}
<div class="container" style="text-align: right;">
    <div class="row">
        <div class="col-md-6 text-end"><img src="{{ asset("![](../../public/assets/img/Logout.png)") }}" style="width: 100px;" alt=""></div>
        <div style="text-align: left" >
            <p><br><strong><em><span style="color: rgb(0, 0, 0); background-color: transparent;">جوان {{ "now"|date('Y') }}</span></em></strong><br><br><br></p>
        </div>
    </div>
</div>
<div class="container" style="text-align: right;">
    <div class="row">
            <div class="col-md-6 text-end">
                <p>الشركة الوطنية للاتصالات</p>
                <p>الإدارة الجهوية للاتصالات بجندوبة</p>
                <p>الهيكل: وحدة التصرف في الخدمات</p>
                <br>
            </div>

</div>
<div class="container" style="text-align:center">
    <div class="row">
        <div class="col-md-12">
            <h4>ترخيص مسبق للقيام بعمل إضافي أيام الآحاد والعطل الرسمية</h4>
        </div>
    </div>
</div>
<div class="container fw-light" style="margin-top: 40px;">
    <div class="row">
        <div class="col-md-6 text-end align-self-baseline m-auto">
            <div style="width: 200px;text-align: center; margin-left: 200px;">
                <table style="border: 4px" >
                    <tbody>
                    <tr>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td style="background-color: grey; text-align: center;">رقم التســــــجيل:  </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>
<div class="container" style="text-align:right">
    <div class="row">
        <div class="col-md-12 text-end">
            <p><br>
                <strong><span style="color: rgb(0, 0, 0); background-color: transparent;"> {{ employee.prenom ~' '~ employee.nom}}</span></strong>
                <span style="color: rgb(0, 0, 0); background-color: transparent;">العون المكلف بالعمل الإضافي:</span>
                </p>
            <p><span style="color: rgb(0, 0, 0); background-color: transparent; margin-right: 57px">الخطة:{{ employee.plan }}</span></p>
            <p><span> وبعد أنتم مطالبون للقيام بعمل إضافي وذلك أيام: {{employee.dateTravaux}}</span></p>
                <p><span>ل{{employee.travauxFaits}}</span></p>
            <p><br><span style="color: rgb(0, 0, 0); background-color: transparent;">بالعنوان التالي: {{employee.adresseTravaux}}</span><br></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6" style="text-align: left">
            <p class="text-center"><strong><span style="color: rgb(0, 0, 0); background-color: transparent;">امضاء المشرف على الهيكل</span></strong><br></p>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>

{% endblock %}
</div></body>
</html>