{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset("assets/css/Pretty-User-List-.css") }}">
{% endblock %}

{% block body %}
    <h1>User index</h1>
    <div class="row user-list">
        {% for user in users %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 user-item" style="margin-left: 10px;">
            <div class="user-container"><a class="user-avatar" href="#"><img class="rounded-circle img-fluid" src={{ asset("assets/img/avatars/default-avatar.png") }} width="48" height="48" alt="Profile of Mark Smith Peterson"></a>
                <p class="user-name"><a href="{{ path('app_user_show', {'id': user.id}) }}">{{ user.email }}</a><span>Last seen on 27th Sep 2014 </span></p>

            </div>
        </div>
        {% else %}
            <p> no user found</p>
        {% endfor %}
    </div>

{#    <a href="{{ path('app_user_new') }}">Create new</a>#}
{% endblock %}
